name = "mycloud"
main = "_worker.js"  # 你的 JS 逻辑代码
compatibility_date = "2026-02-05"

[limits]
cpu_ms = 300000

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
[[rules]]
type = "CompiledWasm"
globs = ["**/*.wasm"]
fallthrough = true